body {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

img {
    margin: 10px;
}

form {
    background-color: rgb(158, 8, 251);
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
}

button {
    padding: 8px 10px;
    border-radius: 10%;
}

#remove-all {
    background-color: rgb(241, 60, 0);
}